@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SS</title>
  <environment names="Development,Production">
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  </environment>
  @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
  <partial name="_NavbarLayout" />
  <div class="container-fluid dataPlacement">
    @RenderBody()
  </div>
  <partial name="_FooterLayout" />
  <environment names="Development,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </environment>
  @RenderSection("scripts", false)
</body>
</html>