@{
  ViewData["Title"] = "Index";
}

<div class="row">
  <div class="card col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <h1>Sports Store</h1>
    <h5>We are a Store where one will get all the sports products</h5>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-4 col-lg-3 col-xl-3">
    <div class="card-body align-content-center"><img src="~/images/SS.jpg" height="200" width="200" /></div>
  </div>
</div>